<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapping되는 sql구문을 위한 태그이며, mapping되는 namespace는 유일해야하기 때문에 Board테이블명 사용 -->
<mapper namespace="Board">

<!-- 메서드 이름이 selectAll이며, 매개변수로 map타입을 받고, 반환타입이 boardDTO인 select쿼리문과 매핑 -->
   <select id="selectAll" parameterType="map" resultType="boardDTO">
      select board_number,   board_title, board_content, board_date, board_read_count,    m.member_number, member_id
      from tbl_member m join tbl_board b on m.member_number = b.member_number
      order by board_number desc limit #{startRow}, #{rowCount}
   </select>
   
   	<!-- 메서드 이름이 selectCount이며, 매개변수로 int 타입의 객체를 받는 select쿼리문과 매핑 -->
   <select id="selectCount" resultType="_int">
      select count(board_number) from tbl_board
   </select>
   
   <!-- 메서드 이름이 insert이며, 매개변수로 boardVO 타입의 객체를 받는 insert쿼리문과 매핑 -->
   <insert id="insert" parameterType="boardVO">
      insert into tbl_board (board_title, board_content, member_number)
      values (#{boardTitle}, #{boardContent}, #{memberNumber}) 
   </insert>
   
   <!-- 메서드 이름이 select이며, 매개변수로 int 타입의 객체를 받고,반환타입이 boardDTO인 select쿼리문과 매핑 -->
   <select id="select" parameterType="_int" resultType="boardDTO">
      select board_number,   board_title, board_content, board_date, board_read_count,    m.member_number, member_id
      from tbl_member m join tbl_board b on board_number = #{boardNumber} and m.member_number = b.member_number 
   </select>
   
   
   <!-- 메서드 이름이 updateReadCount이며, 매개변수로 int 타입의 객체를 받는 update쿼리문과 매핑 -->
   <update id="updateReadCount" parameterType="_int">
      update tbl_board
      set board_read_count = board_read_count + 1 
      where board_number = #{boardNumber}
   </update>
   
   
   <!-- 메서드 이름이 delete이며, 매개변수로 int 타입의 객체를 받는 delete쿼리문과 매핑 -->
   <delete id="delete" parameterType="_int">
      delete from tbl_board where board_number = #{boardNumber}
   </delete>
   
   <!-- 메서드 이름이 update이며, 매개변수로 boardVO 타입의 객체를 받는 update쿼리문과 매핑 -->
   <update id="update" parameterType="boardVO">
      update tbl_board
      set board_title = #{boardTitle}, board_content = #{boardContent}
      where board_number = #{boardNumber}
   </update>
   
   <!-- 메서드 이름이 selectCurrentSequence이며, 반환타입이 int 타입인 select쿼리문과 매핑 -->
   <select id="selectCurrentSequence" resultType="_int">
      select last_insert_id()
   </select>
</mapper>




















